.portrait-img {
    max-width: 100%;
    max-height: 100%;
    width: 20vw;
    padding-top: 20px;
    object-fit: cover;
}

.header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(174deg, #3e8daf 50%, #ffffff calc(50% + 1px));
}

.about-text {
    background-color: white;
    max-width: 60ch;
    max-height: 40ch;
    margin-top: 40px;
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-text > h1,
.about-text > p {
    padding-left: 20px;
}

body {
    background-color: white;
    margin: 0;
}

.placeholder-img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

.projects {
    padding: 5vw;
}

.project-grid {
    /* padding: 5vw; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    max-width: 1050px;
}

.placeholder-icon {
    width: 20px;
}

.project-div {
    /* To be removed later, for styling purposes only. */
    /* border: 5px dashed black; */
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact {
    display: flex;
    background-color: #3e8daf;
    /* max-height: 60vh; */
    padding-left: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-text {
    color: white;
}

.contact-header {
    font-size: 2.5rem;
}

.contact-list {
    list-style-type: none;
}

.contact-list > li {
    display: flex;
    padding: 5px;
}

.contact-list > li > span {
    padding-right: 10px;
}

.contact-img {
    height: 80%;
    width: auto;
    object-fit: cover;
    padding-left: 5vw;
    max-height: 40vh;
}
@media (max-width: 950px) {
    .contact-img {
        order: -1;
        height: 100%;
    }
}

@media (max-width: 672px) {
    .portrait-img {
        width: 40vw;
    }
}

@media (max-width: 446px) {
    .portrait-img {
        width: 50vw;
    }
}
