.portrait-img {
    max-width: 100%;
    max-height: 100%;
    width: 20vw;

    object-fit: cover;
}

.header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(174deg, #4282a4 50%, #ffffff calc(50% + 1px));
}

.about-section {
    background-color: grey;
    max-width: 60ch;
    max-height: 40ch;
}

.about-section > h1,
.about-section > p {
    padding-left: 10px;
}

body {
    background-color: white;
    margin: 0;
}

.placeholder-img {
    max-width: 100%;
    max-height: 100%;
    width: 18vh;
}

.projects {
    display: grid;
}

.placeholder-icon {
    width: 20px;
}
